.buttonDesktop {
  display: flex;
  width: min(70px, 18vw);
  height: min(70px, 18vw);
  margin: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.buttonMobile {
  display: flex;
  width: 23vw;
  height: 23vw;
  margin: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.t {
  font-weight: 300;
  text-align: center;
  color: white;
}
