.resultB {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background-color: orange; */
  position: relative;
  overflow: hidden;
}

.selectedSong {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* cfmark */
  /* background-color: yellow; */
}

.songList {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.resultTyping {
  display: flex;
  flex: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0;
}

.typingText {
  color: #4d648d;
  font-size: 90px;
}

.songTitles {
  margin: 20px;
  white-space: pre-wrap;
}

.colorNodeTC {
  background-color: #35a79c;
  margin: 4px;
  border-radius: 5px;
}

.colorNodeTVCHH {
  background-color: #63ace5;
  margin: 4px;
  border-radius: 5px;
}

.songTitle {
  margin: 8px;
  color: white;
}
