.show {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 90vh;
}

.sheet {
  display: flex;
  flex: 1;
  /* background-color: 'green'; */
  margin-bottom: 70px;

  /* height: 100%; */
  /* height: fit-content; */
  /* height: max-content; */
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.leftRightButton {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
}
.left {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.bottomBar {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  height: 70px;
  width: 100vw;
  background-color: #011f4b;
  overflow: auto;
  /* white-space: nowrap; */
  align-items: center;
  /* justify-content: center; */
}

.imgMobile {
  /* object-fit: scale-down; */
  /* width: 100%;
  height: auto; */
  /* height: 100%; */
  /* width: auto;
  height: auto;
  max-width: MaxSize;
  max-height: MaxSize; */
  /* object-fit: cover; */
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
}

.imgDesktop {
  object-fit: contain;
  max-height: 100%;
  min-height: 100%;
}

.button {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

.loadingText {
  margin-top: 50vh;
  color: white;
  font-size: 25;
}

.buttonTitle {
  color: white;
}

.rowOfNode {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* background-color: green; */
}

.stopButtonView {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.stopButton {
  height: 18px;
  width: 18px;
  background-color: #ff6f69;
  border-radius: 5px;
}

.changeButtonView {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.changeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  background-color: #63ace5;
  border-radius: 9px;
}

.showName {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 40px;
  background-color: red;
}
